<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <style>
      div.mi {
        color:red;
        cursor:pointer;
      }
    </style>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjOcu15REoIZV1YadMf0-QVLB8YEfcHA&language=zh-TW" type="text/javascript"> -->
    <script src="https://maps.googleapis.com/maps/api/js?language=zh-TW" type="text/javascript"> 
        </script>
    <script src="/js/jquery-1.11.3.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      var map ;
      var aryUnits = [];
      var dicUnitsByYear = {};
      var aryYears = [];
      var dicUnitsByStake = {};
      var aryStakes = [];   //所有支聯會
      var aryMissionarys = [];
      var aryWards = [];
      //以下兩個變數是為了解決同一位置有兩個以上的單位，又要按照時間先後出現時的 marker title 要符合當時的單位。
      var aryGeocodes = []; //所有經緯度組合的 key
      var dicUnitsByGeocode = {}; //所有經緯度組合的 key，值為該位置的單位清單，按照年份排序。

      //以下兩個變數保存 markers
      var aryMarkers = [];
      var dicMarkerByGeocode = {};

      var isInitialized = false ;
      var currentYearIndex = 0 ;

      $(document).ready(function() {
        //$('#pano').width($('#divMap').width());
        //$('#pano').height($('#divMap').height());
        initMap();  
        getUnits();    
      })

      var initMap = function() {
        map = new google.maps.Map(document.getElementById('divMap'), {
              center: {lat: 23.735251, lng: 120.947937},
              scrollwheel: false,
              zoom: 8
            });

        /* when google map is fully loaded  */
        google.maps.event.addListener( map, 'idle', function() {
            if (!isInitialized) {
              console.log("parse units from map");
              parseUnits();
            }
        });

        /* detect enter or exit streetview */
        google.maps.event.addListener(map.getStreetView(),'visible_changed',function(){

           console.log('streetview is ' +(this.getVisible()?'open':'closed'));
        });
      }

      var getUnits = function() {
        $.get( "/data/units.json", function( data ) {
          //console.log(data.length);
          aryUnits = data ;
          console.log("get units from json");

          if (map) {
            console.log("parse units from http");
            parseUnits();
            
          }
        });
      }

      var parseUnits = function() {
        //aryUnits = data ;
        $(aryUnits).each(function(index, unit) {
          //按所屬單位
          if (unit.type == "傳道部") {
            aryMissionarys.push(unit);
          }
          else if (unit.type == "支聯會") {
            aryStakes.push(unit);
          }
          else {
            aryWards.push(unit);
            var stakeName = unit.stake ;
            if (!dicUnitsByStake[stakeName]) {
              dicUnitsByStake[stakeName] = [];
            }
            dicUnitsByStake[stakeName].push(unit);
          }

          //按年份
          var startYear = unit.start ;
          if (!dicUnitsByYear[startYear]) {
            dicUnitsByYear[startYear] = [];
            aryYears.push(startYear);
          }
          dicUnitsByYear[startYear].push(unit);

          //按經緯度
          var geoKey = makeGeoKey(unit) ;
          if (!dicUnitsByGeocode[geoKey]) {
            aryGeocodes.push(geoKey);
            dicUnitsByGeocode[geoKey] = [];
          }
          dicUnitsByGeocode[geoKey].push(unit);

        });  //end of each unit

        //sort years
        function compareNumbers(a, b) {
          return a - b;
        }
        aryYears.sort(compareNumbers);

        //sort units in the same Location
        function compareYearInTheSameLocation(u1, u2) {
          return u1.year - u2.year;
        }
        $(aryGeocodes).each(function(index, geoKey) {
          dicUnitsByGeocode[geoKey].sort(compareYearInTheSameLocation);
        })

        isInitialized = true ;

        //print result 
        console.log(aryMissionarys.length);
        console.log(aryStakes.length);
        console.log(aryWards.length);
        $(aryYears).each(function(index, y) {
          console.log(y);
        })
        
        setTimeout( drawUnits, 1000 );
      }

      var makeGeoKey = function(unit) {
        return unit.lat + "_" + unit.lng ;
      }

      //畫出指定年度的單位
      var drawUnits = function() {
        //$('#msg').html('');
        if (currentYearIndex < aryYears.length) {
          var targetYear = aryYears[currentYearIndex];
          if (!targetYear) {
            return ;
          }
          $("<div style='margin-top:8px;'>" + targetYear + "</div>").appendTo('#msg');

          var units = dicUnitsByYear[targetYear];
          console.log("add markers for year :" + targetYear);
          $(units).each(function(index, unit) {
            addMarker(unit);
            $("<div>" + unit.name + "</div>").mouseover(function() {
              $(this).addClass('mi');
            }).mouseout(function() {
              $(this).removeClass('mi');
            }).click(function() {
              showMarker(unit);
            }).appendTo('#msg');
          });
        
          currentYearIndex += 1;
          setTimeout( drawUnits, 1000 );
        }
      }

      var showMarker = function(unit) {
        var geoKey = makeGeoKey(unit);
        //如果 marker 存在，則從 map 上移除
        if (dicMarkerByGeocode[geoKey]) {
          var marker = dicMarkerByGeocode[geoKey];
          infowindow.setContent(marker.contentString);
          infowindow.open(map, marker);
        }
      }

      var infowindow = new google.maps.InfoWindow({
        maxWidth: 200
      });

      var addMarker = function(unit) {
        
        //console.log(unit);
        var theLatLng = {lat: unit.lat, lng: unit.lng};
        //找出此位置有多少單位，目的是要算出 marker 的 title 值
        var geoKey = makeGeoKey(unit);
        var unitsInThisLocation = dicUnitsByGeocode[geoKey];
        var title = "";
        var contentString = ["<div><a href='javascript:void(0)' onclick='showStreetMap(", unit.lat, ",",unit.lng , ");'><img src='/img/camera.png' style='width:24px;height:24px;' /></a></div>"].join("");
        console.log(contentString);
        $(unitsInThisLocation).each(function(index, ut) {
          if (ut.start < unit.start) {
            title += (ut.name + ",")
            contentString += makeContentString(ut);
          }
        })
        title += unit.name;
        contentString += makeContentString(unit);

        //console.log(map);
        // map.setCenter(theLatLng);
        console.log(theLatLng);

        //如果 marker 存在，則從 map 上移除
        if (dicMarkerByGeocode[geoKey]) {
          dicMarkerByGeocode[geoKey].setMap(null);
        }

        var marker= new google.maps.Marker({
            position: theLatLng,
            title: title,
            icon: '/img/chapel_icon.png',
            visible: true
        });
        marker.setMap(map);
        marker.contentString = contentString;
        //aryMarkers.push(marker);
        dicMarkerByGeocode[geoKey] = marker;

        marker.addListener('click', function() {
          console.log(this.contentString);
          infowindow.setContent(this.contentString);
          infowindow.open(map, marker);
        });
        
        //console.log(marker);
      }

      var makeContentString = function(unit) {

        return ["<div><a href='javascript:void(0)' onclick=\"showUnitHistory('" , unit.name , "')\" >", unit.name ,"</a></div>" ].join("");
      }

      var showUnitHistory = function(unitName) {
        $('#myModalLabel').html(unitName);
        $('#myModal').modal('show')  
      }

      var showStreetMap = function(lat, lng) {

        $('#pano').css('display','block').css('z-index', 10);  //initialize

        var fenway = {lat: lat, lng: lng};
        map.setCenter(fenway);
        console.log(fenway);

        var panorama = new google.maps.StreetViewPanorama(
        document.getElementById('pano'), {
          position: fenway,
          enableCloseButton: true,
          pov: {
            heading: 34,
            pitch: 10
          }
        });

        panorama.addListener('closeclick', function() {
            console.log("streetview closed ~");
            $('#pano').css('display','none');
        });
        map.setStreetView(panorama);
      }

    </script>
  </head>
  <body style="relative;margin:0px;">
    <div id="divMap" style="position:absolute;left:10px;right:200px;top:0px;bottom:0px;">
    </div>

    <div id="pano" style="position:absolute;left:10px;right:200px;top:0px;bottom:0px;z-index:-10"></div>

    <div id="msg" style="position:absolute;width:192px;right:0px;top:4px;bottom:0px;overflow-y:auto;"></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">基隆支會</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
{% endautoescape %}